html {
height: 100%;
}
body{
    background: wheat;
}
h1 {
    text-align: center;
    color: white;
}
#container{
    height: 300px;
    width: 800px;
    margin: auto;
    border: 5px solid yellow;
    background-color: #000000;
}

#btn {
    margin: 50px auto;
    margin-left: 300px;
    height: 50px;
    width: 250px;
    font-size: 22px;
    background-color: rgb(192, 191, 191);
}


    #output {
        margin: 25px auto;
        margin-left: 192px;
        font-size: 26px;
        color: white;
    }
